.box-login {
    background-color: rgb(238, 240, 247, 0.8);
    width: 100%;
    display: block;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 2%;
    font-family: 'Quicksand', sans-serif
    ;
}
.logo-position {
    text-align: center;
}
<<<<<<< HEAD
h2 {
    
    text-align: center;
    color: #f2622e;
    font-size:larger;
    
}

body {
    background-image: linear-gradient(to bottom, #1e4dd9 0%, #a62e7c 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
=======
>>>>>>> origin/main
